* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.boxes {
    width: 70px;
    height: 70px;
    background-color: rgb(133, 65, 65);
    display: flex;
    margin: 5px;
    box-shadow: black 0 0 3px 2px;
}

.boxes:not(.clicked):hover {
    background-color: rgb(100, 23, 23);
    transform: scale(1.1);
    box-shadow: black 0 0 10px 5px;
}

.clicked {
    background-color: rgb(0, 0, 0);
}

.row {
    display: flex;
}