* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Shadows Into Light', cursive;
}

body {
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
}

header {
    font-size: 2rem;
    color: white;
}

#title {
    transition: 0.5s;
}

#title:hover {
    color: #fff;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
    outline: none;
}

form input {
    min-width: 30%;
    box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 3px;
}

form button {
    color: orange;
    background: white;
    cursor: pointer;
    transition: all 0.5 ease;
    box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 3px;
}

form button:hover {
    color: white;
    background: orange;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: orange;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 20px;
    box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 32px 27px -10px rgba(0, 0, 0, 0.75);
}

.todo:hover {
    transform: scale(1.1);
}

.todo li {
    flex: 1;
    cursor: default;
}

.complete-btn,
.trash-btn {
    background: orange;
    color: white;
    padding: 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.trash-btn {
    border-top-right-radius: 20px;
}

.complete-btn {
    background: lightgreen;
}

.complete-btn:hover {
    background: rgb(5, 112, 5);
}

.trash-btn:hover {
    background: rgb(180, 0, 0);
}

.todo-item {
    padding-left: 0.5rem;
}

.fas {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transform: scale(1.1);
    opacity: 0;
}